doctype html
//- Yönlendirmeden gelen profil fotosu:
- var playerPhoto = playerPhoto

html(lang="tr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- Bootstrap:
        link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css")
        //- global-config.css:
        link(rel="stylesheet", href="css/global-config.css")
        //- Socket.io CDN:
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js' integrity='sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
        title= gameName+" Ana Sayfa"

    body(onresize="ekranGenisligiAyarlamasi()")#body
        .container-fluid.cerceve
            .cerceve-ici.row.justify-content-center
                img.col-12.p-2.m-2(src=playerPhoto)
                h1.col-12.text-center.text-snadow-white=playerName
            .col-12
                input#room-key-input-text.form-control.col-12.mt-3.text-center(type='text' placeholder='Oda kodunu yazınız')
                button#join-room-button.btn.btn-primary.col-12.mt-3(onclick='joinTheRoom()') Odaya Katıl
                button.btn.btn-primary.col-12.mt-2(onclick='window.location.href=\"/yeniOdaOlustur\"') Yeni Oda Oluştur
                button.btn.btn-warning.col-12.mt-2(onclick='') Nasıl Oynanır?
                button.btn.btn-danger.col-12.my-2(onclick='window.location.href=\"/logout\"') Oturumu Kapat!

        //- Yeni gelen kişiye özel karşılama yapılacak
        if first == true
            .container-fluid.cerceve(style="background-color: rgba(102, 139, 173, 0.9);")
                .cerceve-ici.row
                    h1.text-center.text-snadow-white= gameName+" Oyununa Hoş Geldiniz"
                p.fs-4.text-center.text-primary-emphasis.mt-3= "Hoşgeldin "+ playerName +"! Seni aramızda görmek çok güzel. Umarız güzel zaman geçirirsin :). Nasıl oynandığını öğrenmek istersen ana ekranda bulunan \"Nasıl oynanır!\" butonuna basarak öğrenebilirsin. İyi eğlenceler dilerim :D."
                button.btn.btn-primary.col-12.my-3(onclick="window.location.href='/profile'")= gameName + " Dünyasına Dal!"

        //- Bootstrap JS ve Popper JS:
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
        //- socket.io:
        script(src="js/global-socket-io(client).js") 
        //- global-config.js:
        script(src="js/global-config.js")
        //- global-config.js:
        script(src="js/main-menu.js")